Package: samm-pysammodata
Version: %VERSION%
Maintainer: Samana <info@samanagroup.com>
Depends: python3, python3-pip
Conflicts: 
Architecture: all
Homepage: https://www.samanagroup.com
Description: SAMM Odata Integration library. Samana Advanced Monitoring and Management
